@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここにグローバルなスタイルを追加可能 */
body {
  margin: 0;
  padding: 0;
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
  overflow: hidden; /* スクロール禁止の徹底 */
}
